---
- name: 依存ライブラリのインストール
  yum: name={{ item }} state=latest
  with_items:
   - gcc
   - openssl-devel
   - readline-devel
   - zlib-devel

- name: rbenvがインストール済みか確認
  shell: "{{ rbenv_path }}/bin/rbenv --version"
  register: rbenv_exists
  changed_when: False
  ignore_errors: yes

- name: rbenvが未インストールならrbenvをインストール
  git:
   repo: https://github.com/sstephenson/rbenv.git
   dest: "{{ rbenv_path }}"
  when: rbenv_exists is failed


- name: ruby-buildをインストール
  git:
    repo: https://github.com/sstephenson/ruby-build.git
    dest: "{{ rbenv_path }}/plugins/ruby-build"
  when: rbenv_exists is failed

