---
- name: 依存ライブラリのインストール
  become: yes
  yum: name={{ item }} state=latest
  with_items:
   - gcc
   - openssl-devel
   - readline-devel
   - zlib-devel

- name: rbenvをインストール
  git:
   repo: https://github.com/sstephenson/rbenv.git
   dest: "{{ rbenv_path }}"

- name: ruby-buildをインストール
  git:
    repo: https://github.com/sstephenson/ruby-build.git
    dest: "{{ rbenv_path }}/plugins/ruby-build"

- name: bash_profileの編集
  blockinfile:
    dest: ~/.bash_profile
    create: yes
    insertafter: EOF
    content: |
      export RBENV_ROOT={{ rbenv_path }}
      export PATH="$RBENV_ROOT/bin:$PATH"
      eval "$(rbenv init -)"

- name: rubyのインストール
  shell: bash -lc "rbenv install {{ ruby_version }}"

- name: rbenv global設定
  shell: bash -lc "rbenv global {{ ruby_version }}"