---
- name: 依存ライブラリのインストール
  yum: name={{ item }} state=latest
  with_items:
   - gcc
   - openssl-devel
   - readline-devel
   - zlib-devel

# - name: rbenvがインストール済みか確認
#   shell: "{{ rbenv_path }}/bin/rbenv --version"
#   register: rbenv_exists
#   changed_when: False
#   ignore_errors: yes

- name: rbenvをインストール
  git:
   repo: https://github.com/sstephenson/rbenv.git
   dest: "{{ rbenv_path }}"


- name: ruby-buildをインストール
  git:
    repo: https://github.com/sstephenson/ruby-build.git
    dest: "{{ rbenv_path }}/plugins/ruby-build"

# - name: Edit bashrc
#   template:
#     src: roles/ruby/templates/rbenv_system.sh.j2
#     dest: /etc/profile.d/rbenv.sh
#     owner: ec2-user
#     group: ec2-user

- name: bash_profileの編集
  blockinfile:
    dest: /home/ec2-user/.bash_profile
    create: yes
    insertafter: EOF
    content: |
      export RBENV_ROOT={{ rbenv_path }}
      export PATH="$RBENV_ROOT/bin:$PATH"
      eval "$(rbenv init -)"

- name: rubyのインストール
  shell: bash -lc "rbenv install {{ ruby_version }}"